{{template "header"}}
<title>分类 - 我的 beego 博客</title>
<!--style>
      .myWord{
        line-height: 60px;
        font-size:20px;
        background-color:light-blue;
      }
    </style-->
</head>

<body>
    <!--置顶-->
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            {{template "navbar" .}}
        </div>
    </div>
    <div class="container">
        <h1>分类列表</h1>
        <form class="form-inline" method="GET" action="/category">
            <div class="form-group">
                <label>分类名称</label>
                <input id="name" type="text" class="form-control" placeholder="Enter name of category" name="name">
                <input type="hidden" name="op" value="add">
            </div>
            <!--input type="hidden" name="op" value="add"-->
            <button type="submit" class="btn btn-default" onclick="return checkInput();">添加分类</button>
        </form>
        <script type="text/javascript">
        function checkInput() {
            //验证分类名称输入是否为空。为空则提示请输入
            var name = document.getElementById("name");
            if (name.value.length == 0) {
                alert("请输入分类名称");
                return false
            }

            //账号和密码都验证通过之后返回 true
            return true
        }
        </script>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>分类名称</th>
                    <th>文章数</th>
                    <!--这里的操作只有一种，就是删除-->
                    <th>操作</th>
                </tr>
            </thead>
            <tbody>
                <!--循环输出所有分类-->
                {{range .Categories}}
                <tr>
                    <th>{{.Id}}</th>
                    <th>{{.Title}}</th>
                    <th>{{.TopicCount}}</th>
                    <th>
                        <a href="/category?op=del&id={{.Id}}">删除</a>
                    </th>
                </tr>
                {{end}}
            </tbody>
        </table>
    </div>
    <script type="text/javascript" src="http://cdn.staticfile.org/jquery/2.0.3/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/bootstrap.min.js"></script>
</body>

</html>